div.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        min-width: 640px;
        min-height: 480px;
        border: solid 1px black;
        margin-left: 20px;
        margin-right: 20px;
    }

    div.right {
        display: flex;
        flex-direction: column;
        align-items: center;

        .color-swatch {
            height: 240px;
            width: 240px;
            border: solid 1px black;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        > * {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

canvas.loader {
    display: none;
}
