<mat-form-field>
    <mat-label>Select a file</mat-label>
    <mat-select [(value)]="fileName" (selectionChange)="selectFile($event.value)">
        <mat-option value="sample1.png">Sample1.png</mat-option>
        <mat-option value="sample2.png">Sample2.png</mat-option>
        <mat-option value="sample3.png">Sample3.png</mat-option>
        <mat-option value="sample4.png">Sample4.png</mat-option>
        <mat-option value="sample5.png">Sample5.png</mat-option>
    </mat-select>
</mat-form-field>

<div class="main">
    <div class="left">
        <img #fileImage (click)="onFileImageClick($event)" (load)="imageLoaded($event)" (mousemove)="mousemove($event)">
        <canvas #overlayCanvas class="overlay" [hidden]="!useOverlay"></canvas>
    </div>
    <div class="right">
        <div class="zoom-parent">
            <canvas width="105" height="105" #canvasZoom></canvas>
            <div class="zoom-details">
                <div><button mat-flat-button (click)="highlight('outside')">outside</button> {{result?.outside}}</div>
                <div><button mat-flat-button (click)="highlight('inside')">inside</button> {{result?.inside}}</div>
                <div><button mat-flat-button (click)="highlight('blank')">blank</button> {{result?.blank}}</div>
                <div><button mat-flat-button (click)="highlight('digit')">digit</button> {{result?.digit}}</div>
                <div><button mat-flat-button (click)="highlightBounds()">Bounds</button></div>
                <div><button mat-flat-button (click)="skewImage()">Skew</button></div>
                <div><button mat-flat-button (click)="transformImage()">Transform</button></div>
            </div>
        </div>
        <p>{{x}}, {{y}}</p>
        <div class="color-swatch" #swatch [style.color]="textColor">
            {{ colorHash }}
        </div>
        <div class="buttons">
            <button mat-button (click)="trainDark()">Dark</button>
            <button mat-button (click)="trainLight()">Light</button>
        </div>
        <div>
            Result: {{ result }}
        </div>
        <div class="buttons">
            <button mat-button (click)="saveNet()">Save Net</button>
            <button mat-button (click)="loadNet()">Load Net</button>
        </div>
    </div>
    <canvas class="loader" #canvasLoader></canvas>
</div>